@font-face {
    font-family: Raleway;
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf)
  }

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #021821;
    font-family: "Raleway", serif;
}

.d_none{
    display: none;
}

.d_flex{
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #021821; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7EB4C9; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #105063; 
  }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04242E;
    color: white;
    height: 64px;
    gap: 12px;    
}

header h1{
    color: #E74B3B;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #0A3949;
    border-radius: 16px;
    height: 600px;
    width: 450px;
    margin: 12px;
    color: white;
}

.seperator{
    height: 2px;
    width: 100%;
    background-color: #7EB4C9;
}

.book_title_section{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book_img_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #105063;
    width: 450px;
    padding: 20px;
    box-shadow: 0 0 8px #0A3949 inset;
}

.book_img{
    height: 100px;
    width: 100px;
}

.price_section{
    margin: 8px 20px;
    color: #E74B3B;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
}

.favorite_section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.favorite_icons{
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-left: 4px;
}

.book_data_section{
    margin: 8px 20px;
}

table th{
    display: flex;
    justify-content: flex-start;
}

table tr{
    vertical-align: baseline;
}

.old_comments_section{
    margin: 8px 8px 5px 20px;
}

.all_comments {
    height: 176px;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}

.new_comment_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px 20px 20px;
    width: 410px;
}

.inputs{
    display: flex;
    justify-content: flex-start;
}

.comment_input{
    background-color: #105063;
    color: white;
    cursor: pointer;
    height: 24px;
    border: solid;
    border-color: #51889D;
    width: 260px;
}

.comment_input::placeholder{
    color: #51889D;
    padding-left: 8px;
}

.name_input{
    background-color: #105063;
    color: white;
    cursor: pointer;
    height: 24px;
    border: solid;
    border-color: #51889D;
    width: 100px;
}
.name_input::placeholder{
    color: #51889D;
    padding-left: 8px;
}

button{
    cursor: pointer;
    border: 0;
    background-color: #0A3949;
}

.send_button_img{
    width: 24px;
    width: 24px;
}

footer{
    height: 64px;
    background-color: #04242E;
    color: #51889D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

footer a{
    text-decoration: none;
    color: #51889D;
    cursor: pointer;
}
footer a:hover{
    color: #51889dc5;
}

@media(max-width: 500px){
    header{
        height: 56px;
        gap: 8px;    
    }

    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    .content{
        font-size: 12px;
    }
    .book_section{
        border-radius: 12px;
        height: 400px;
        width: 300px;
        margin: 8px;
    }
    .book_title_section{
        margin: 12px 0;
    }
    .book_img_section{
        width: 300px;
        padding: 12px;
    }
    .book_img{
        height: 90px;
        width: 90px;
    }
    .price_section{
        margin: 4px 12px;
        font-size: 18px;
        width: 276px;
    }
    .book_data_section{
        margin: 4px 12px;
    }
    .old_comments_section{
        margin: 4px 4px 4px 12px;
    }
    .all_comments {
        height: 76px;
    }
    .new_comment_section{
        margin: 0 12px 12px 12px;
        width: 276px;
    }
    .name_input{
        height: 18px;
        width: 60px;
    }
    .name_input::placeholder{
        padding-left: 4px;
    }
    .comment_input{
        height: 18px;
        width: 180px;
    }
    .comment_input::placeholder{
        padding-left: 4px;
    }
    .send_button_img{
        width: 20px;
        width: 20px;
    }
    footer{
        height: 56px;
    }
}